<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <section class="card">
        <div class="login">
          <div class="text-register">
            <h1>REGISTRAR</h1>
          </div>
          <div>
            <input
              type="text"
              placeholder="Your name"
              formControlName="name"
              class="text-input"
            />
            <br />

            <input
              type="text"
              placeholder="CPF"
              formControlName="taxNumber"
              class="text-input"
            />
            <br />

            <input
              type="email"
              placeholder="email"
              formControlName="mail"
              class="text-input"
            />
            <br />

            <input
              type="text"
              placeholder="phone"
              formControlName="phone"
              class="text-input"
            />
            <br />

            <input
              type="password"
              placeholder="password"
              formControlName="password"
              class="text-input"
            />
          </div>
          <br />
          <div>
            <button type="button" class="registrar">Register</button>
          </div>
          <br>
          <div class="registre-se">
            <span><a href="../login">Login</a></span>
          </div>
        </div>
      </section>
    </form>
  </body>
</html>
