<html>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef>Estoque</th>
    <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element" style="display: flex; ">
      <div style="width: 30px; display: flex; align-items: center; background-color: #424242;">
        <button style="background-color: #424242;  border: none; cursor: pointer;" (click)="editItem(element)"><i style="color: white;" class="bi bi-pen"></i></button>      </div>
      <div style="width: 30px; display: flex; align-items: center; background-color: #424242;">
        <button style="background-color: #424242;  border: none; cursor: pointer;" (click)="deleteItem(element)"><i style="color: white;" class="bi bi-trash"></i> </button>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <button type="submit" class="submit"><a href="/new-item">Novo Item</a></button></div>

  </html>



